body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    border-bottom: 2px solid #666;
    padding-bottom: 0.5em;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.github-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.elected {
    color: green;
}

.not-elected {
    color: red;
}

.spinner {
    display: none; /* initially hidden */
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Reset margin and padding for list elements*/
ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}


.result-item {
    list-style-type: none;
    border: 1px solid #e0e0e0;
    margin: 5px 0;
    background-color: #f5f5f5;
    height: 50px;
}

.result-item a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 15px 10px;
}


.result-item:hover {
    background-color: #dcdcdc;
}

@media only screen and (max-width: 767px) {
    .result-item {
        height: auto;
    }

    .result-item a {
        padding: 10px 5px;
    }
}

.dropdown-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 5px;
}

.dropdown-list a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-list a:hover {
    background-color: #f5f5f5;
}

.divider {
    border-top: 1px solid #e0e0e0;  /* Light gray border on top */
    margin: 20px 0;  /* Vertical spacing */
}

/*Tooltip style*/

.header-with-tooltip {
    display: flex; /* Makes the children (h2 and tooltip) align side by side */
    align-items: center; /* Vertically centers the tooltip with the h2 */
}


.tooltip-container {
    margin-left: 10px;
    position: relative;
    display: inline-block;
}

.tooltip-icon {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: help;
}

.tooltip-content {
    display: none;
    width: 300px;
    font-size: 0.9em;
    background-color: #f9f9f9;
    color: #333;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    pointer-events: none;
}

.tooltip-content ul {
    margin: 0;
    padding-left: 20px; /* Adjust based on your design preference */
}

.tooltip-content li {
    margin-bottom: 5px; /* Adjust based on your design preference */
}

.tooltip-container:hover .tooltip-content {
    display: block;
}
