<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>Kandidat:in Suchen</title>
</head>

<body>
    <!-- GitHub Badge -->
    <div class="github-badge">
        <a href="https://github.com/devobern/NRW23" target="_blank">
            <img src="https://img.shields.io/badge/GitHub-View%20on%20GitHub-blue?style=flat-square&logo=github"
                alt="View on GitHub">
        </a>
    </div>

    <h1>Nationalratswahlen 2023: Kandidat:in Suche</h1>
    <p>Gib einen oder mehrere Suchbegriffe ein, um nach Personen zu suchen, die für den Nationalrat 2023 kandidiert
        haben. Du kannst nach Vorname, Nachname, Kanton, Partei und Wohnort suchen. Die Ergebnisse zeigen dir die Anzahl
        der erhaltenen Stimmen sowie zusätzliche Details zur Person und ihrer Kandidatur. Bitte beachte, dass die Daten
        nur für die Wahlen von 2023 gelten.</p>

    <div class="header-with-tooltip">
        <h2>Suche nach Kandidat </h2>
        <div class="tooltip-container">
            <span class="tooltip-icon">?</span>
            <div class="tooltip-content">
                <ul>
                    <li>Gib den Vor- oder Nachnamen eines Kandidaten ein. Passende Kandidaten werden dir daraufhin unten
                        aufgelistet.</li>
                </ul>
            </div>
        </div>
    </div>
    <input type="text" id="kandidatSearch" placeholder="Name des Kandidaten">
    <ul class="dropdown-list" id="kandidatDropdown">
        <!--Is dynamicly loaded via JavaScript-->
    </ul>

    <div class="divider"></div>

    <div class="header-with-tooltip">
        <h2>Detailierte Suche</h2>
        <div class="tooltip-container">
            <span class="tooltip-icon">?</span>
            <div class="tooltip-content">
                <ul>
                    <li><strong>Vorname:</strong> Gib einen Teil oder den gesamten Vornamen ein. Zum Beispiel findet die
                        Suche nach "Tho" den Namen "Thomas".</li>
                    <li><strong>Nachname:</strong> Ähnlich kannst du einen Teil oder den gesamten Nachnamen eingeben.
                        Die
                        Suche nach "Muster" findet "Muster-Müller".</li>
                    <li><strong>Kanton:</strong> Gib einen Teil oder den gesamten Kantonsnamen ein. Zum Beispiel findet
                        die
                        Eingabe von "Zür" den Kanton "Zürich".</li>
                    <li><strong>Liste:</strong> Gib einen Teil oder den gesamten Namen der Liste ein.</li>
                    <li><strong>Wohnort:</strong> Gib einen Teil oder den gesamten Wohnortnamen ein.</li>
                </ul>
            </div>
        </div>
    </div>

    <form action="/search" method="post">
        Vorname: <input type="text" name="first_name"><br>
        Nachname: <input type="text" name="last_name"><br>
        Kanton: <input type="text" name="kanton"><br>
        Liste: <input type="text" name="liste"><br>
        Wohnort: <input type="text" name="wohnort"><br>
        <input type="submit" value="Suchen">
        <div class="spinner" id="loadingSpinner"></div>
    </form>

    <h3>Hinweis</h3>
    <p>Diese App entstand, weil ich herausfinden wollte, wie viele Stimmen ein Kandidat erhalten hat. Bisher habe ich
        keine einfache Möglichkeit dafür gefunden. Wenn du einen Dienst kennst, der diese Info bereitstellt, lass es
        mich wissen! Diese App ist nicht perfekt, und das ist okay. Feedback und Verbesserungsvorschläge? Immer her
        damit. Schick mir einfach eine <a href="mailto:nationalratswahlen23_app.px0na@passmail.net">Mail</a>.</p>

    <!-- Quellenangabe -->
    <h3>Quellenangabe</h3>
    <p>
        Autor:in: Bundesamt für Statistik BFS <br>
        Titel: NR - Kandidierende <br>
        <a href="https://opendata.swiss/de/dataset/eidg-wahlen-2023/resource/1cd03e48-bb87-4d89-825b-84ccd32a0b83"
            target="_blank">Link zum Datensatz</a>
    </p>
    <h3>Datenschutzerklärung</h3>
    <a href="/privacy-policy">Unsere Datenschutzerklärung</a>

</body>

</html>