<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Kandidat:in Suchen</title>
</head>

<body>
    <!-- GitHub Badge -->
    <div class="github-badge">
        <a href="https://github.com/devobern/NRW23" target="_blank">
            <img src="https://img.shields.io/badge/GitHub-View%20on%20GitHub-blue?style=flat-square&logo=github"
                alt="View on GitHub">
        </a>
    </div>

    <h1>Nationalratswahlen 2023: Kandidat:in Suche</h1>
    <p>Gib einen oder mehrere Suchbegriffe ein, um nach Personen zu suchen, die für den Nationalrat 2023 kandidiert
        haben. Du kannst nach Vorname, Nachname, Kanton, Partei und Wohnort suchen. Die Ergebnisse zeigen dir die Anzahl
        der erhaltenen Stimmen sowie zusätzliche Details zur Person und ihrer Kandidatur. Bitte beachte, dass die Daten
        nur für die Wahlen von 2023 gelten.</p>
    <form action="/search" method="post">
        Vorname: <input type="text" name="first_name"><br>
        Nachname: <input type="text" name="last_name"><br>
        Kanton: <input type="text" name="kanton"><br>
        Liste: <input type="text" name="liste"><br>
        Wohnort: <input type="text" name="wohnort"><br>
        <input type="submit" value="Suchen">
    </form>

    <h3>Hinweis</h3>
    <p>Wenn du Probleme feststellst oder andere Anfragen hast, schreib mir bitte eine Mail an: <a
            href="mailto:nationalratswahlen23_app.px0na@passmail.net">nationalratswahlen23_app.px0na@passmail.net</a>.
    </p>

    <!-- Quellenangabe -->
    <h3>Quellenangabe</h3>
    <p>
        Autor:in: Bundesamt für Statistik BFS <br>
        Titel: NR - Kandidierende <br>
        <a href="https://opendata.swiss/de/dataset/eidg-wahlen-2023/resource/1cd03e48-bb87-4d89-825b-84ccd32a0b83"
            target="_blank">Link zum Datensatz</a>
    </p>
</body>

</html>